.centered{
    margin: auto;
    height: 110vh;
    width: 90%;
    border: 3px solid black;
    padding: 10px;
}

.course{
    width: 25%;
    margin-left: 4%;
    margin-right: 4%;
    position: relative;
    float: left;
}

.courseInfo{
    margin: auto;
    width: 100%;
    border: 3px solid black;
    padding: 10px;
}